.row > div.col {
    padding: 5px;

}

.row  {
    margin: 10px auto;
    display: flex;
    justify-content: center;
    
}

#allTiles{
    margin: 10px auto;
    border: 1px solid black;

}
#tileContainer{
    width: 405px;
    height:1000px;
}
#tiles{
    width: 100px;
    height: 100px;
}

#firstTower {
    display: flex;
    flex-direction: column-reverse;
}

#secondTower {
    display: flex;
    flex-direction: column-reverse;
}
#thirdTower {
    display: flex;
    flex-direction: column-reverse;
}
